.page-container {
  box-sizing: border-box;
  width: 696px;
  margin: 0 auto;
  padding-left: 16px;

  font-size: 0;
}

@media (max-width: 695px) {

  .page-container {
    width: 320px;
    padding: 0 15px;;
  }

}
