.page-header {
  box-sizing: border-box;
  width: 696px;
  margin: 0 auto;
  margin-bottom: 10px;
  padding-left: 15px;
}

.page-header__header {
  width: 100%;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 5px;

  font-size: 50px;
  font-weight: normal;
  color: #535e62;

  border-bottom: 1px solid $dark-gray;
}

.page-header__list {
  width: 610px;
  margin: 0;
  padding-left: 12px;
  padding-top: 8px;
  padding-bottom: 6px;

  font-size: 14px;

  background-color: $light-gray;
}

.page-header__list-item {
  display: inline-block;

  padding-right: 6px;
  padding-bottom: 5px;

  list-style: none;
}

.page-header__link {
    color: #41444b;
    letter-spacing: -0.1px;

    &:link, &:visited {
      color: #41444b;
    }
}
